@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "AllDetailsEmployee";

    @model IEnumerable<EmployeeManagement.Models.Employee>
}

  







<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Add Row</h4>

                <a class="btn btn-primary btn-round ml-auto" asp-controller="Employee" asp-action="Create">
                    <i class="fa fa-plus"></i>
                    Add new Employee
                </a>

            </div>
        </div>
        <div class="card-body">
            <!-- Modal -->




            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Full Name</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th>Mobile Number</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    @foreach (var emp in Model)
                    {

                        <tbody>

                            <tr>
                                <td>@emp.Id</td>
                                <td>@emp.Name</td>
                                <td>@emp.Gender</td>
                                <td>@emp.Email</td>
                                <td>@emp.Age</td>
                                <td>@emp.MobileNo</td>

                                <td>
                                    <div class="form-button-action">
                                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.Id" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@emp.Id" class="btn btn-primary" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@emp.Id" class="btn btn-primary" data-original-title="Details"><i class="fas fa-info-circle"></i></a>


                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>